
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f3f5;
  font-family: 'Arial', sans-serif;
}

.content {
  text-align: center;
  position: relative;
}

.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  color: #f13bb5;
  font-size: 2em;
  margin-bottom: 30px;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust as needed */
}

button {
  padding: 20px;
  font-size: 1.5em;
  background-color: #f13bb5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  position: absolute; /* This allows the buttons to move */
  transition: all 0.3s ease;
  width: 150px;
  height: 80px;
}

button:hover {
  background-color: #ff3385;
}

#yes-button {
  left: calc(50% - 170px); /* Center the Yes button */
  top: calc(50% - 40px); /* Center the Yes button */
}

#no-button {
  position: absolute; /* Allow the No button to move */
}